<div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
  <div class="mx-auto max-w-lg">
    <h1 class="text-center text-2xl font-bold text-primary-600 sm:text-3xl">
      <%= t(".log_in") %>
    </h1>

    <p class="mx-auto mt-4 max-w-md text-center text-gray-500">
      <%= t(".log_in_description") %>
    </p>

    <%= form_with url: login_path, class: "mb-0 mt-6 space-y-4 rounded-lg p-4 shadow-lg sm:p-6 lg:p-8" do |form| %>
      <div>
        <%= form.label :email, class: "sr-only" %>
        <%= form.email_field :email, required: true, autofocus: true, class: "w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm", placeholder: "Enter email" %>
      </div>

      <div>
        <%= form.label :password, class: "sr-only" %>
        <%= form.password_field :password, required: true, class: "w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm", placeholder: "Enter password" %>
      </div>

      <%= form.button t(".log_in"), class: "block w-full rounded-lg bg-primary-600 px-5 py-3 text-sm font-medium text-white" %>

      <p class="text-center text-sm text-gray-500">
        <%= link_to t(".reset_password"), new_password_reset_path, class: "underline" %>
      </p>

      <p class="text-center text-sm text-gray-500">
        <%= t(".no_account") %>
        <%= link_to t(".sign_up"), sign_up_path, class: "underline" %>
      </p>
    <% end %>
  </div>
</div>
