<div id="<%= dom_id program %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= program.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Min grade:</strong>
    <%= program.min_grade %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Max grade:</strong>
    <%= program.max_grade %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= program.description %>
  </p>

</div>
