<div id="<%= dom_id reading_entry %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Child:</strong>
    <%= reading_entry.child_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Literary work:</strong>
    <%= reading_entry.literary_work_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= reading_entry.status %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Date read:</strong>
    <%= reading_entry.date_read %>
  </p>
</div>
