<header class="bg-primary-500 text-white">
  <div class="container mx-auto px-4 py-4 flex justify-between items-center">
    <%= link_to root_path, class: "text-2xl font-bold" do %>
      Read the Junior Classics
    <% end %>
    <nav>
      <ul class="flex space-x-4">
        <%= link_to "Home", root_path, class: "hover:text-primary-200" %>
        <%= link_to "Programs", programs_path, class: "hover:text-primary-200" %>
        <%= link_to "Literary Works", literary_works_path, class: "hover:text-primary-200" %>
        <%= link_to "Collections", collections_path, class: "hover:text-primary-200" %>
        <% if user_signed_in? %>
          <%= link_to "My Children", user_children_path(current_user), class: "hover:text-primary-200" %>
          <%= button_to "Log Out", logout_path, method: :delete, class: "hover:text-primary-200" %>
        <% else %>
          <%= link_to "Log In", login_path, class: "hover:text-primary-200" %>
          <%= link_to "Sign Up", sign_up_path, class: "hover:text-primary-200" %>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
