<div id="<%= dom_id literary_work %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= literary_work.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Author:</strong>
    <%= literary_work.author %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Work type:</strong>
    <%= literary_work.work_type %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= literary_work.description %>
  </p>

</div>
