<div class="flex items-center">
  <span class="text-yellow-500 mr-1">
    <% full_stars = rating %>
    <% empty_stars = 5 - full_stars %>
    
    <%= "★" * full_stars %><%= "☆" * empty_stars %>
  </span>
  <span class="text-gray-600 dark:text-slate-400">
    <%= rating %> / 5 (<%= total_ratings %> <%= 'rating'.pluralize(total_ratings) %>)
  </span>
</div>
