<!DOCTYPE html>
<html class="h-full">
  <head>
    <title><%= content_for?(:title) ? yield(:title) + " | " : "" %>Read Junior Classics</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag 'favicon-white.ico' %>
 
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="flex flex-col min-h-screen bg-gray-50">
    <%= render 'shared/header' %>

    <main class="flex-grow">
      <div class="container mx-auto px-4 py-8">
        <%= render 'shared/flash_messages' %>
        <%= render 'shared/breadcrumbs' %>
        <%= yield %>
      </div>
    </main>

    <%= render 'shared/footer' %>
  </body>
</html>
